@import 'src/styles/_vars.scss';

.about {
  padding: 0 $gutter;
  padding-top: 10em;
  color: #FFF;
  height: 100%;

  display: flex;
  flex-direction: column;

  &__title {
    height: 10%;
    font-size: $title-size;
    font-weight: bold;
  }

  &__content {
    height: 90%;
    font-size: 1em;
    line-height: $title-line-height / 1.1;
    overflow-y: auto;
    padding-bottom: 1em;
  }

  &__content a {
    color: lighten($color-primary, 75%);
    text-decoration: underline;
    &:hover {
      font-weight: bold;
    }
  }
  &__images {
    display: none;
  }
}

@media (min-width: 550px) {
  .about {
    padding: 0 $gutter;
    padding-top: 6em;
  
    &__title {
      font-size: $title-size * 1.2;
    }
    &__content {
      margin-top: 2em;
      font-size: 1.1em;
    }
  }
}

@media (min-width: 950px) {
  .about {
    margin-left: $gutter * 2;
    padding-top: $gutter * 8;
    &__content {
      width: 50%;
    }
    &__images {
      display: flex;
      position: absolute;
      width: 400px;
      height: 100%;
      right: 0%;
      top: 0%
    }
    &__me {
      position: absolute;
      top: 20%;
      width: 90%;
    }
    &__bubbles {
      position: absolute;
      width: 40%;
    }
    &__billard {
      left: 0%;
      width: 30%;
    }

    &__bio {
      left: 10%;
      top: 9%;
      width: 35%;
    }

    &__bubble1 {
      width: 15%;
      left: 5%;
      top: 40%;
    }

    @keyframes movingbubble {
      from {top: 30%}
      to {top: 33%}
    }

    &__bubble2 {
      width: 10%;
      right: 10%;
      top: 32%;
      animation: movingbubble 5s infinite alternate ease-in-out;
    }



    @keyframes movingcomputer {
      from {top: 52%}
      to {top: 50%}
    }

    &__computer {
      left: -15%;
      top: 50%;
      width: 35%;
      animation: movingcomputer 2s infinite alternate ease-in-out;
    }

    &__gamepad {
      right: 5%;
      top: 10%;
    }

    &__shooting {
      right: 0;
      top: 40%
    }
  }
}
@media (min-width: 1420px) {
.about {
    margin-left: $gutter * 8;
    padding-top: $gutter * 8;
    &__images {
    width: 500px;
    margin-right: 8%;
  }
}

}
